<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>搜索用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" th:href="@{/common/layui/css/layui.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/common/bootstrap/css/bootstrap.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/common/global.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/personal.css}" media="all">
    <script type="text/javascript" th:src="@{/common/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/common/layui/layui.js}"></script>
</head>
<body>
<section class="layui-larry-box" style="width: 650px">
    <div class="larry-personal">
        <header class="larry-personal-tit">
            <span>确认申请</span>
        </header><!-- /header -->
        <div class="larry-personal-body clearfix">
            <form action="/apply/agree" method="post">
                <input hidden="true" th:value="${stallApply.applyId}" name="applyId"></input>
                <div th:hidden="${session.user.isAdmin ? false : true}">
                    <div class="form-group">
                        <label>租户用户昵称</label>
                        <input class="form-control" type="text" name="nickname" disabled th:value="${otherUser.nickname}">
                    </div>
                    <div class="form-group">
                        <label>租户真实姓名</label>
                        <input class="form-control" type="text" name="realName" disabled th:value="${otherUser.realName}">
                    </div>
                    <div class="form-group">
                        <label>租户手机号</label>
                        <input class="form-control" type="text" name="phoneNumber" disabled th:value="${otherUser.phoneNumber}">
                    </div>
                    <div class="form-group">
                        <label>租户地址</label>
                        <input class="form-control" type="text" name="address" disabled th:value="${otherUser.address}">
                    </div>
                </div>
                <div class="form-group" th:hidden="${stallApply.stallStatus == 0 ? false : true}">
                    <label>请输入您的收款账号(支付宝)</label>
                    <input class="form-control" type="text" name="alipayAccount">
                </div>
                <div class="form-group" th:hidden="${stallApply.stallStatus == 1 ? false : true}">
                    <label>管理员支付宝收款账号</label>
                    <span class="form-control" th:text="${stallApply.payAccount}"></span>
                </div>
                <div class="form-group" th:hidden="${stallApply.stallStatus == 1 ? false : true}">
                    <label>请输入您的付款订单号</label>
                    <input class="form-control" type="text" name="payOrderNumber">
                </div>
                <div class="form-group" th:hidden="${stallApply.stallStatus == 2 ? false : true}">
                    <label>租户付款的支付宝订单号</label>
                    <span class="form-control" th:text="${stallApply.payOrderNumber}"></span>
                </div>
                <div class="form-group">
                    <button class="form-control" style="width: 150px" onclick="refresh()">确认</button>
                </div>
            </form>
            <!--<form action="/search/stall" method="post">
                <div class="form-group">
                    <label>请输入摊位名(不支持模糊搜索)</label>
                    <input class="form-control" type="text" name="stallName">
                </div>
                <div class="form-group">
                    <button class="form-control" type="submit" style="width: 150px">立即搜索</button>
                </div>
            </form>-->
        </div>
    </div>
</section>
<script type="text/javascript">
    function refresh(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.location.reload(); //刷新父页面
        parent.layer.close(index);
    }
</script>
</body>
</html>